.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# downloaded resources
udpipe_models/*
tutorials/udpipe_models/*
*.rda
tutorials/*.rda
.httr-oauth
model.html
*/RMarkdown_parameters_cache/*
*.DS_Store
*/*_cache
*.parquet
takeout.zip
takeout_google.zip
